<div class="card">
    <p-table #dt [value]="allEmployeeDetails" dataKey="empid" [rows]="10" [showCurrentPageReport]="true"
        [loading]="loading" [paginator]="true" [rowHover]="true" [scrollable]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['empid', 'name', 'department', 'designation', 'email', 'dob', 'doj', 'address', 'mobileno', 'userId', 'domain', 'companyNameyearsOfExp', 'getSkillgetSkillRating']">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:22%">Employee ID</th>
                <th style="width:22%">Name</th>
                <th style="width:22%">Email</th>
                <th style="width:22%">Department</th>
                <th style="width:22%">Designation</th>
                <th style="width:22%">Date of Birth</th>
                <th style="width:22%">Date of Joining</th>
                <th style="width:22%">Address</th>
                <th style="width:22%">Mobile Number</th>
                <th style="width:22%">User ID</th>
                <th style="width:22%">Domain</th>
                <th style="width:22%">Company Name - Years of Experience</th>
                <th style="width:22%">Skill - Skill Rating</th>
            </tr>
            <tr>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="empid"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="name"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 250px;">
                        <p-columnFilter type="text" field="email"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="department"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="designation"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="dob"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 180px;">
                        <p-columnFilter type="text" field="doj"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 250px;">
                        <p-columnFilter type="text" field="address"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="mobileno"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="userId"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="domain"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="companyNameyearsOfExp"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div style="width: 200px;">
                        <p-columnFilter type="text" field="getSkillgetSkillRating"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>{{ employee.empid }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.dob | date: 'dd/MM/yyyy' }}</td>
                <td>{{ employee.doj | date: 'dd/MM/yyyy' }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.mobileno }}</td>
                <td>{{ employee.userId }}</td>
                <td *ngIf='employee.employeeExperience != null'>{{ employee.employeeExperience[0].domain }}</td>
                <td *ngIf='employee.employeeExperience != null'>{{ employee.employeeExperience[0].companyName }} -
                    {{ employee.employeeExperience[0].yearsOfExp }} years</td>
                <td>
                    <ul *ngIf='employee.skillVsRating != null'>
                        <li class="flex justify-content-between  flex-direction-row"
                            *ngFor="let item of employee.skillVsRating | keyvalue">{{ item.key }} <span
                                class="inline-block ml-2">
                                <p-rating [cancel]="false" [ngModel]="item.value"></p-rating>
                            </span></li>
                    </ul>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No employees found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>