<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Events {{todayYears}}</span>
                    <div class="text-900 font-medium text-xl">{{dashboardData.data.eventCount }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">ODC Strength</span>
                    <div class="text-900 font-medium text-xl">{{dashboardData.data.empCount}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last year</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Todays Event Count</span>
                    <div class="text-900 font-medium text-xl">{{todayEventCount}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">520 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Birthday Buddies</span>
                    @for (item of dashboardData.data.employeesDob; track $index) {
                    <div class="text-900 font-medium text-xl">{{item}}</div>
                    } @empty{
                    <div class="text-900 font-medium text-xl">0</div>
                    }
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">are celebrating this month</span>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Todays Employee Count Data</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>
            </div>
            <ul class="list-none p-0 m-0">
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Employees On Leave</span>
                        <div class="mt-1 text-600">{{dashboardData.data.totalLeaveCount}}</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{height: '8px'}">
                            <div class="bg-orange-500 h-full"
                                [ngStyle]="{width: dashboardData.data.totalLeaveCount+'%'}"></div>
                        </div>
                        <span class="text-orange-500 ml-3 font-medium">{{dashboardData.data.totalLeaveCount+'%'}}</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Employees on WFH</span>
                        <div class="mt-1 text-600">{{dashboardData.data.totalWfhCount}}</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{height: '8px'}">
                            <div class="bg-cyan-500 h-full" [ngStyle]="{width: dashboardData.data.totalWfhCount+'%'}">
                            </div>
                        </div>
                        <span class="text-cyan-500 ml-3 font-medium">{{dashboardData.data.totalWfhCount+'%'}}</span>
                    </div>
                </li>
                <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Employees on Site</span>
                        <div class="mt-1 text-600">{{dashboardData.data.totalLeaveCount}}</div>
                    </div>
                    <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem"
                            [ngStyle]="{height: '8px'}">
                            <div class="bg-pink-500 h-full" [ngStyle]="{width: dashboardData.data.totalLeaveCount+'%'}">
                            </div>
                        </div>
                        <span class="text-pink-500 ml-3 font-medium">{{dashboardData.data.totalLeaveCount+"%"}}</span>
                    </div>
                </li>

            </ul>
        </div>


    </div>
    <div class="col-12 xl:col-6">
        <div class="card mb-0">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>
            </div>
            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Jaeson Karter
                        <span class="text-700"> has Volunteered to cancer cause for <span
                                class="text-blue-500">79,000</span></span>
                    </span>
                </li>
                <li class="flex align-items-center py-2">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-download text-xl text-orange-500"></i>
                    </div>
                    <span class="text-700 line-height-3">Sinan is having <span
                            class="text-blue-500 font-medium">Snacks</span> on his desk.</span>
                </li>

            </ul>
            <span class="block text-600 font-medium mb-3" *ngIf="dashboardData.data.employeesDob.length > 0">Birthday Buddies</span>
            <ul class="p-0 m-0 list-none">
                @for (item of dashboardData.data.employeesDob; track $index) {
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">{{item.name}} <span class="text-700"> is celeberating Birthday Today </span>
                    </span>
                </li>
                }
            </ul>

        </div>
    </div>

    <div class="col-12">

        <div class="card">
            <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>

    </div>

</div>