@if(isEditMode){
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Invitation Acceptance</span>
                    <div class="text-900 font-medium text-xl">{{totalAttanees}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last Event</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Attandane</span>
                    <div class="text-900 font-medium text-xl">{{totalAttandance}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last Event</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Average Rating</span>
                    <div class="text-900 font-medium text-xl">{{averageRating}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">52 </span>
            <span class="text-500">Employee have rated</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Remaining Budget</span>
                    <div class="text-900 font-medium text-xl">{{pendingBudget}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">spent more than last event</span>
        </div>
    </div>
</div>
}
<div class="card">
    <form [formGroup]="eventRegisterForm" (ngSubmit)="load()">

        <div class="col-12">
            <h5>Register Event</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-3">
                    <label htmlFor="eventName">Event Name</label>
                    <input pInputText id="eventName" type="text" formControlName="eventName" />
                </div>
                <div class="field col-12 md:col-3">
                    <label for="eventBudget">Event Budget</label>
                    <p-inputNumber formControlName="budget" inputId="eventBudget" [minFractionDigits]="2" currency="INR"
                        currencyDisplay="code" locale="en-IN" mode="currency"></p-inputNumber>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="eventFromDate">Event Start</label>
                    <p-calendar formControlName="eventFromDate" [showIcon]="true" [minDate]="minDate"
                        [showButtonBar]="true" [showTime]="true" id="eventFromDate" hourFormat="12"></p-calendar>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="eventToDate">Event End</label>
                    <p-calendar formControlName="eventToDate" [showIcon]="true" [showButtonBar]="true" id="eventToDate"  hourFormat="12"
                        [showTime]="true"></p-calendar>
                </div>
                <div class="field col-12">
                    <label htmlFor="eventDescription">Event Description</label>
                    <textarea formControlName="eventDescription" pInputTextarea id="eventDescription" rows="2" cols="5"
                        [autoResize]="true"></textarea>
                </div>
                <div class="field col-12 md:col-3">
                    <label htmlFor="eventLocation">Venue</label>
                    <input formControlName="eventLocation" pInputText id="eventLocation" type="text" />
                </div>

                <div class="field col-12 md:col-3">
                    <label htmlFor="status">Status</label>
                    <p-dropdown formControlName="status" [options]="Status" optionLabel="viewValue"
                        id="department"></p-dropdown>
                </div>

                <div class="field col-12 md:col-3">
                    <label htmlFor="department">Department</label>
                    <p-dropdown formControlName="department" [options]="departments" optionLabel="viewValue"
                        id="department"></p-dropdown>
                </div>

                <div class="field col-12 md:col-3">
                    <label htmlFor="name">Conducted By</label>
                    <input formControlName="name" pInputText id="name" type="text" />
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="isVotable">Votable</label>
                    <p-dropdown formControlName="isVotable" [options]="isVotable" optionLabel="viewValue"
                        id="isVotable"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="needVolunteer">Need Volunteers</label>
                    <p-dropdown formControlName="needVolunteer" [options]="needVolunteer" optionLabel="viewValue"
                        id="needVolunteer"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="isSnacks">Snacks Provided?</label>
                    <p-dropdown formControlName="isSnacks" [options]="isSnacks" optionLabel="viewValue"
                        id="isSnacks"></p-dropdown>
                </div>
                <div class="col-12">
                    <div formArrayName="checkLists" class="grid">
                        <div *ngFor="let branch of checkLists.controls; index as i"
                            class="fadeinleft fadeout  animation-duration-500 animation-ease-in-out col-11 p-inputgroup p-fluid">
                            <span [formGroupName]="i" class="p-input-icon-left">
                                <i class="font-bold">{{i+1}}</i>
                                <input formControlName="checklistDescription" type="text" pInputText
                                    placeholder="Enter Checklist" />
                            </span>
                            <div class="ml-2">
                                <p-button icon="pi pi-trash" (onClick)="removeBranch(i)"></p-button>
                            </div>
                        </div>
                        <div class="col-1 text-center">
                            <p-button icon="pi pi-plus" pTooltip="Add Checklist" tooltipPosition="top"
                                (onClick)="newBranch()"></p-button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div formArrayName="expenses" class="grid">
                        <div *ngFor="let branch of expenses.controls; index as i"
                            class="fadeinleft fadeout  animation-duration-500 animation-ease-in-out p-inputgroup p-fluid col-11">
                            <span [formGroupName]="i" class="p-input-icon-left">
                                <i class="font-bold">{{i+1}}</i>
                                <input formControlName="expense" type="text" pInputText placeholder="Enter Expense" />
                            </span>
                            <span [formGroupName]="i">
                                <input type="number" formControlName="amount" pInputText placeholder="Enter Amount" />
                            </span>

                            <div class="ml-2">
                                <p-button icon="pi pi-trash" (onClick)="removeExpense(i)"></p-button>
                            </div>
                        </div>
                        <div class="col-1 text-center">
                            <p-button icon="pi pi-plus" pTooltip="Add Expense" tooltipPosition="top"
                                (onClick)="newExpense()"></p-button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Action buttons for Save, Delete, and Reset -->
        <div class="card flex justify-content-center column-gap-3">
            <p-button label="Save" type="submit" [loading]="loading"></p-button>
            <button pButton type="button" label="Reset" (click)="resetForm()"></button>
        </div>
    </form>
</div>
@if(isEditMode){
<div class="card col-12 ">
    <p-accordion [multiple]="true" [activeIndex]="[2]">
        <p-accordionTab header="See Volunteers">
            <p-table #dt [value]="volunteers" [rows]="10" [paginator]="true"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" class="col-12 lg:col-6 xl:col-3">
                    <tr>

                        <th pSortableColumn="email">Volunteer Email <p-sortIcon field="email"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
               
                        <td>{{ product.employee.email}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">In total there are {{ volunteers ?
                        volunteers.length : 0 }} volunteers.</div>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="See Invitation Acceptace">
            <p-table #dt [value]="attendees" [rows]="10" [paginator]="true"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                       
                        <th pSortableColumn="email">Attendees Email <p-sortIcon field="email"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                       
                        <td>{{ product.employee.email}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">In total there are {{ attendees ?
                        attendees.length : 0 }} Attendees.</div>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="See Comments">
            <div class="col-12">
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    @for (item of attandance; track $index) {
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div
                            class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-pencil text-xl text-blue-500"></i>
                        </div>
                        <div class="text-900 line-height-3">{{item.employee.email}}
                            <div class="text-700"> {{item.feedback}} <div class="text-blue-500"><p-rating
                                        [ngModel]="+item.rating" [cancel]="false"></p-rating></div>
                            </div>
                        </div>
                    </li>
                    }

                </ul>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

<div class="card">
    <div *ngIf="images" class="grid" style="max-width: 800px;">
        <div *ngFor="let image of images; let index = index" class="col-3" key="index">
            <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer"
                (click)="imageClick(index)" />
        </div>
    </div>
    <p-galleria [value]="images" [visible]="displayCustom!" [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '850px' }" [numVisible]="7"
        [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div>
}