<div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Food Menu</h5>
                <p-dataView #dv [value]="foods" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="search" pInputText placeholder="Search by Food Name"
                                    (input)="onFilter(dv, $event)">
                            </span>
                        </div>
                    </ng-template>
    
                    <ng-template let-foods pTemplate="gridItem">
                        <div class="grid grid-nogutter">
                            <div class="col-12 md:col-4" *ngFor="let food of foods">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                        <span class="font-semibold">{{food.name}}</span>
                                    </div>
                                    <div class="flex flex-column align-items-center text-center mb-3">
                                        <img [src]="'assets/demo/images/food/' + food.image" [alt]="food.name"
                                            class="w-9 shadow-2 my-3 mx-0" />
                                        <div class="font-bold text-2xl">{{food.name}}</div>
                                        <div class="mb-3">{{food.description}}</div>
                                        <span class="font-semibold">{{food.price | currency: "INR" : "symbol" : '1.0-0' }}</span>
                                    </div>
                                    <div class="flex flex-row justify-content-center align-items-center">
                                        <p-button pButton icon="pi pi-minus" (click)="deleteQuantity(food)"
                                            class="p-button-rounded p-button-text"></p-button>
                                        <span class="quantity">{{food.quantity || 0}}</span>
                                        <p-button pButton icon="pi pi-plus" (click)="addQuantity(food)"
                                            class="p-button-rounded p-button-text"></p-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
                <p-button pButton label="Checkout" icon="pi pi-shopping-cart" class="p-button-rounded p-button-text"
                    (click)="checkout()" [disabled]='disabledbutton'></p-button>
            </div>
        </div>
    </div>
    